   
div.row
    

    link(rel="stylesheet" href="../css/calendar.css")
    div(class="form-inline").margin-left-m.margin-right-m
            //div(class="btn-group")
                button(class="btn" data-calendar-nav="today") Hoy
            
    div.panel.panel-default.margin-left-m.margin-rigth-m.clearboth
        div(class="btn-group calendar" style="width:80%")
            button(class="btn" data-calendar-view="year" style="background-color:white;") Anual
            button(class="btn active" data-calendar-view="month" style="background-color:white;") Mensual
            button(class="btn" data-calendar-view="week" style="background-color:white;") Semanal
            button(class="btn" data-calendar-view="day" style="background-color:white;") Diario
        div(class="btn-group" style="width:20%")
            //if (user.admon === 1 1 user.Usuario === "Gabriel")
            select(name="empleado" style="margin-left:5px!important;margin-top:0px; position:relative; float:right;border:none;").agendaEm.margin-tbm
                option(value="todos") Todos
                for i in tecnico
                    option(value=i.USUARIO)=i.USUARIO

        div.btn-group(style="width:100%; ").clearboth 
            button(class="btn" data-calendar-nav="prev" style="position:absolute; background-color:white;font-size:1.5em;").ion-chevron-left
            button(class="btn" data-calendar-nav="next" style="background-color:white; position:absolute; right:5px; font-size:1.5em;").ion-chevron-right
        div.page-header(style="margin-top:0px;")
            h3(style="text-align:center;margin-top:0px;")
        
              
        div(id="calendario")

    //script(type="text/javascript" src="../js/vendor/jquery.min.js")
script(type="text/javascript" src="../js/vendor/underscore-min.js")
script(type="text/javascript" src="/javascripts/tooltip.js")
script(type="text/javascript" src="../js/timezonedetect/jstz.min.js")
script(type="text/javascript" src="../js/language/es-ES.js")
script(type="text/javascript" src="../js/calendar.js")
script(type="text/javascript" src="../js/ini.js")        
