div(id='img-'+ide class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").no-print.slideImg
  div(class="modal-dialog")
    div(class="modal-content")
      //button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round
      //h5 Imagenes
      div.modal-body.slideImage(style="padding:15px!important")
        div#my-slide
          - var n = 0;
          - var m = 1;
          if (!imagen[0])
            img(data-lazy-src='/images/imagen404.jpg' )

          for i in imagen
            if (i.serieWeb)
              img(data-lazy-src=i.Imagen style="width:100px; height:100px" )
            if (!i.serieWeb)
              - n = n + 1;
              - var serie = i.Serie.trim();
              - var orden = i.OrdenNo.trim()
              img(data-lazy-src=drive+serie+'-'+orden+'-'+n+'.jpg'  style="width:100px")
