div.col-xs-12
    div.col-xs-12.alert.alert-success
        div(style="font-size:1.2em;text-align:center") Felicidades la orden ha sido creada:
        div(style="font-size:2em;text-align:center;" orden=orden serie=serie id="ordenResult")=serie + '-' + orden
        a(href='ordenFile/?serie='+ serie + '&numero=' + orden + '&cliente=' + cliente TARGET="_BLANK" style="font-size:3em; color:slategray;text-align:center;width:100%;").ion-android-printer
