div(id="serviciosN" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true").no-print
    div(class="modal-dialog")
        div(class="modal-content")
            div.modal-header
                button(type="button" class="close" data-dismiss="modal" aria-hidden="true").ion-close-round
                |Nueva Orden de servicio
                div.form-group
                    div.progress(style="margin-bottom:5px; margin-top:10px;width:90%;height:25px;margin-left:10px;")
                        div.progress-bar.progress-bar-info(role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 35%; height:25px;")
                        div.ion-person-add(style="font-size:1.8em;margin-top:3px;left:17%;position:absolute;color:white;")
                        div.ion-medkit(style="font-size:1.8em;margin-top:3px;left:45%;position:absolute;color:white;")
                        div.ion-thumbsup(style="font-size:1.8em;margin-top:3px;left:70%;position:absolute;color:white;")
  
            div.modal-body.head-modal
                
        
            div.modal-body.clientNew(style="display:block" id="clienteN")
                //div.ion-arrow-left-c.icono-large.goback
                form(action='/nuevoCliente' method='post' form-name="cliente")
                    div.form-group 
                        input(type='text' name='clave' placeholder='Clave Cliente' autocomplete="off"  requi="true").margin-tbs.col-md-3.clave.clients
                        //button(type="button" class="btn btn-default" style="margin-top:3px;").padding-lrm.col-xs-2.col-md-1.margin-left-s.ion-android-add-contact.icono
                        div#clients.col-sm-8.col-xs-11
                         
                    div.form-group.clearboth
                        input(type='text' name='clienteNombre' placeholder='Nombre' autocomplete="off" required).margin-tbs.col-xs-11.col-md-10
                    div.form-group.clearboth
                        input(type='text' name='calle' placeholder='Calle' autocomplete="off" required).margin-tbs.col-md-10.col-xs-11
                        //input(type='text' name='interior' placeholder='# Int' autocomplete="off").margin-tbs.col-xs-6.col-md-2
                        //input(type='text' name='exterior' placeholder='# Ext' autocomplete="off").margin-tbs.col-xs-5.col-md-2
                    div.form-group.clearboth
                        input(type='text' name='colonia' placeholder='Colonia' autocomplete="off").margin-tbs.col-md-7.col-xs-11
                    div.form-group.clearboth
                        input(type='text' name='poblacion' placeholder='Poblacion' autocomplete='off').margin-tbs.col-md-7.col-xs-11
                    div.form-group.clearboth
                        input(type='text' name='telefono' placeholder='Telefono' autocomplete="off").margin-tbs.col-md-7.col-xs-11
                    div.form-group.clearboth
                        input(type='text' name='correo' placeholder='correo@hotmail.com' autocomplete="off").margin-tbs.col-md-7.col-xs-11

                    div.modal-footer.form-group.clearboth
                        nav
                            ul(class="pager")
                                li( class="previous disabled")
                                    a(href="#") 
                                        span(aria-hidden="true") &larr; Atras
                                li( class="next")
                                    a(href="#" next-slide="servicioN" this-slide="clienteN" type-send='ajax' form-target="cliente"  next-style="width:66%" ) Siguiente 
                                        span(aria-hidden="true") &rarr;

                       

            div.modal-body(id="servicioN" style="display:none")
                form(action='/nuevoEquipo' method='post' form-name="Equipo" enctype="multipart/form-data")
                    div.form-group
                        div.fechas
                            input(id="startdate" name="startdate" type="date" style="margin-bottom:8px;").col-xs-6.col-md-3.col-md-offset-6
                            input(id="exittime" name="exittime" type="time" style="margin-bottom:8px;").col-xs-6.col-md-3
                    div.form-group.clearboth
                        div#placeholder REPORTADO POR:
                        input(type="text" name="reporto" placeholder="Reportado Por" autocomplete="off").margin-tbs.col-xs-12.col-sm-11
                    div.form-group.clearboth
                        input(type="text" name="TipoEquipo" style="display:none;"  value="Servicio")
                        
                    div.form-group.clearboth
                        select( name='otroServicio' ).margin-tbm.col-sm-7.col-xs-7
                            option(value='deafult') Tipo de servicio
                            for i in servicio
                                option(value=i.descrip)=i.DESCRIP
                        button(type="button" class="btn btn-default").ion-calendar.padding-lrm.icono.margin-tbm
                               
                     
                      
                    div.form-group.clearboth    
                        textarea(type='text' name='descProblema' placeholder='Descripcion del Problema y/o servicio' autocomplete='off' style="margin-top:3px!important").form-control.comentarios
                    div.form-group.clearboth
                        div#placeholder(style="margin-top:10px;") ATENDIO
                        input(type="text" name="atendio" placeholder="Atendio" autocomplete="off" value=user.Usuario style="margin-top:0px;").margin-tbm.col-sm-5.col-xs-12 
                        select(name="asignado" style="margin-left:5px!important;margin-top:0px;").margin-tbm.col-sm-5
                            option(value="default") Asignado
                            for i in empleado
                                option(value=i.USUARIO)=i.USUARIO
                    div.form-group.clearboth
                        //label.col-sm-6.col-xs-12s
                            input(type="checkbox" name="poliza" style="margin-top:0px!important")
                            |  Poliza
                        label.col-sm-6
                            input(type="checkbox" name="completada" style="margin-top:0px!important")
                            |  Completado
                    div.modal-footer.form-group.clearboth

                        button(type="button" class="btn btn-default" style="position:absolute;left:45%;bottom:20px;margin-left:3px;height:32px!important;" class="next" ).margin-tbm.padding-lrm.col-xs-2.col-sm-1
                                    a(href="#" next-slide="Materiales"  this-slide="servicioN" style="padding-top:0px!important;").ion-clipboard.icono
                                        span(aria-hidden="true")
                        nav
                            ul(class="pager")
                                li( class="previous" )
                                    a(href="#" next-slide="clienteN" this-slide="servicioN" prev-style="width:60%") 
                                        span(aria-hidden="true" prev-style="width:60%") &larr; Atras
                                
                                li( class="next")
                                    a(href="#" next-slide="finalN" this-slide="servicioN" type-send="ajaxO" form-target="Equipo" form-target2="cliente"  next-style="width:100%" ) Guardar 
                                        span(aria-hidden="true")
            
             div.modal-body(id="Materiales" style="display:none")
                form(action='/nuevoEquipo' method='post' form-name="Equipo" enctype="multipart/form-data")
                    div.form-group(style="margin-bottom:10px;")
                        input(type='text' name='prod' placeholder='Producto' autocomplete="off").prods
                        button(type="button" class="btn btn-default" style="font-size:1.5em;margin-left:10px;hwight:32px;").ion-ios7-cart.material
                        div#products

                    div.form-group.clearboth
                        //label.col-sm-1
                            input(type="checkbox" name="cobrar" style="margin-top:0px!important")
                        input(type="number" name="cantidad" min="1" max="50" style="margin-left:4px;width:70px;" value="1")
                        input(type="text" name="descripcion" placeholder="Descripcion" autocomplete="off" style="margin-right:4px;").col-sm-8.col-xs-11
                        input(type="text" name="Precio" placelholder="Precio" autocomplete="off" ).col-sm-2.col-xs-8

                    div.form-group.clearboth
                        div.venta
                            div.encabe(style="width:100%!important;") Lista de Materiales   
                            //section.partida.col-xs-12

                    div.modal-footer.form-group.clearboth
                        nav
                            ul(class="pager")
                                li( class="previous" )
                                    a(href="#" next-slide="servicioN" this-slide="Materiales" prev-style="width:60%") 
                                        span(aria-hidden="true" prev-style="width:60%") &larr; Atras
                                
                                li( class="next")
                                    a(href="#" next-slide="finalN" this-slide="Materiales" type-send="ajaxO" form-target="Equipo" form-target2="cliente"  next-style="width:100%" ) Guardar 
                                        span(aria-hidden="true")

            div.modal-body(id="finalN" style="display:none")
                form(action='/nuevoEquipo' method='post' form-name="Equipo" enctype="multipart/form-data")
                    div.form-group#finalResult
                        

                    div.modal-footer.form-group.clearboth
                        nav
                            ul(class="pager")
                                li( class="previous")
                                    a(href="#" next-slide="servicioN" this-slide="finalN" prev-style="width:80%") 
                                        span(aria-hidden="true") &larr; Atras
                                li( class="next")
                                    a(href="#"  data-dismiss="modal"  final="1") Finalizar 
                                        span(aria-hidden="true" ) &rarr;