div.row
    div(id="container" style="min-width: 310px; height: 400px; margin: 20px")
    -var series= serie
    //div(style="display:none;" id="Gseries")
    //=series 
     
    script
        include ../public/javascripts/graphs-f/area-range-line.js